/* Resets the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    color: black;
}

body {
    background-image: repeating-linear-gradient(rgba(73, 124, 120), rgba(117, 166, 164), rgba(157, 204, 204), rgba(73, 124, 120));
}

h1 {
    font-size: 43px;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    display: flex;
    margin: 55px 95px 30px 95px;
}

/* Class Selectors */

.buttons {
    font-size: 22px;
display: flex;
justify-content: space-evenly;
}

.black {
    font-weight: bold;
}

.company {
    text-align: left;
    margin-left: 10px;
}

.company-title {
    text-align: left;
    display: flex;
}

.container-layout {
    margin: 75px 75px 30px 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-contact {
    font-size: 33px;
    text-align: center;
    color: rgb(13, 151, 152);
}

.email:hover {
    color: black;
    font-weight: bold;
}

.foot {
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.navbar {
    margin-top: 10px;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
}

/* ID Selectors */

#directory {
    display: flex;
    justify-content: space-evenly;
    padding: 45px;
}

#main-image {
   margin-left: 95px;
    max-width: 40%;
    height: auto;
}

#navtab {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 8px;
}